html, body { height: 100%; }

body {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7931d+0,f7931d+44,f76400+100 */
background: rgb(247,147,29); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(247,147,29,1) 0%, rgba(247,147,29,1) 44%, rgba(247,100,0,1) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(247,147,29,1) 0%,rgba(247,147,29,1) 44%,rgba(247,100,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(247,147,29,1) 0%,rgba(247,147,29,1) 44%,rgba(247,100,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7931d', endColorstr='#f76400',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    background-attachment: fixed;
    padding: 15px !important;
}