@import '_mixins';

header {
    width: 100%;
    text-align: left;
    background-color: #583318;
    margin: 0;
    padding: 30px 0 0;
    position: relative;

    @media screen and (max-width: 959px) {
        padding-bottom: 50px;
    }
}

.partner-title {
	@extend .font-regular;

	font-size: 40px;
	color: white;
	text-align: center;
	padding: 10px 0 0;
	margin-bottom: 30px;

	@media screen and (max-width: 959px) {
		font-size: 25px;
		padding: 0 15px;
	}

	strong {
		@extend .font-bold;
		color: #D5A86C;
	}
}

.partner-subtitle {
	@extend .font-regular;

	font-size: 20px;
	color: white;
	text-align: center;
	padding: 10px 0 40px;

	@media screen and (max-width: 959px) {
		font-size: 14px;
		padding: 20px 20px 20px;
	}

	strong {
		@extend .font-bold;
	}
}

.header-partner {
	background-image: url(../img/header.jpg);
	background-size: cover;
	background-position: top center;
  padding: 30px 0 100px;

	@media screen and (max-width: 959px) {
			padding: 40px 0 100px;
	}

	.menu-home {
		&__link {
			&:hover {
				color: #D5A86C;
				border-color: #D5A86C;
			}
		}
	}
}

.sc-benefits {
	padding: 70px 0;
  background: #D5A86C;
  border-bottom: 2px solid #583318;
  border-top: 2px solid white;

	@media screen and (max-width: 959px) {
		padding: 20px 0;
	}
}

.benefits {

	&__item {
		box-sizing: border-box;
		width: 30%;
		margin: 0 4% 0 0;
		display: inline-block;
		vertical-align: top;
		padding: 0 1%;

		@media screen and (max-width: 959px) {
			width: 100%;
			margin: 0;
			padding: 10%;
		}

		&:last-of-type {

			margin-right: 0;
		}

		h2 {
			@extend .font-bold;


			font-size: 20px;
			margin-bottom: 20px;
      color: #583318;
		}

		p {
			@extend .font-regular;

			color: white;
			font-size: 16px;
		}
	}
}

.sc-questions {
	background: #583318;
	padding: 70px 0 0;
}

.sc-cities {
	height: 400px;
}

.question {

	h1 {
		@extend .font-regular;

		color: white;
		margin-bottom: 80px;
		font-size: 38px;

		@media screen and (max-width: 959px) {
			margin-bottom: 40px;
			padding-left: 30px;
		}
	}

	&__item {
		box-sizing: border-box;
		width: 47%;
		margin: 0 4% 50px 0;
		display: inline-block;
		vertical-align: top;
		padding: 0 1% 0 0;

		@media screen and (max-width: 959px) {
			width: 100%;
			margin: 0;
			padding: 10%;
		}

		&:last-of-type {
			margin-right: 0;
		}

		h2 {
			@extend .font-bold;

			color: #D5A86C;
			font-size: 20px;
			margin-bottom: 10px;
			text-transform: none;
		}

		p {
			@extend .font-regular;

			color: white;
			font-size: 16px;
		}
	}
}

footer {
	text-align: center;
	padding: 70px 0;

	@media screen and (max-width: 959px) {
		padding: 40px 0;
	}

	p {
		@extend .font-regular;

		color: #583318;
		text-align: center;
		font-size: 14px;
		margin: 30px auto 0;
	}
}

.button-whats {
    @extend .font-regular;
    @include border-radius(50px);

    border: 2px solid white;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    padding: 10px 30px;
    display: inline-block;
    transition: all 0.2s;
    margin: 0 0 0 25px;

    &:hover {
			background: rgba(255,255,255,0.1);
    }

	@media screen and (max-width: 959px) {
		margin: 15px 0 0 0;
		width: 100%;
		box-sizing: border-box;
	}
}

.icon-whats {
    background-image: url(../img/whats.svg);
    background-size: cover;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}

.sc-buttons {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#583318+0,583318+100&0+0,1+65,1+100 */
background: -moz-linear-gradient(top, rgba(88,51,24,0) 0%, rgba(88,51,24,1) 65%, rgba(88,51,24,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(88,51,24,0) 0%,rgba(88,51,24,1) 65%,rgba(88,51,24,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(88,51,24,0) 0%,rgba(88,51,24,1) 65%,rgba(88,51,24,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00583318', endColorstr='#583318',GradientType=0 ); /* IE6-9 */
    padding: 25px 0 40px;
    text-align: center;

		@media screen and (max-width: 959px) {
			padding: 25px 15px;
		}
}

.sc-kit {
  padding: 130px;
  position: relative;
  border-bottom: 2px solid #583318;

  @media screen and (max-width: 959px) {
    padding: 60px 30px;
  }

  .kit-title {
      @extend .font-regular;

      font-size: 36px;
      color: #583318;
      text-transform: uppercase;
      display: block;

      @media screen and (max-width: 959px) {
  			font-size: 20px;
  		}

      strong {
          @extend .font-bold;
      }

    small {
        @extend .font-regular;

        font-size: 14px;
        text-transform: none;
        display: block;
        margin: 5px 0 50px;
    }
  }

  .img-kit {
    width: 450px;
    height: auto;
    position: absolute;
    top: -55px;
    right: 0;

    @media screen and (max-width: 959px) {
			position: relative;
      top: 0;
      right: auto;
      margin: 0px 0 50px;
      width: 100%;
		}
  }

  .kit-items {

      @media screen and (max-width: 959px) {

      }

      &__step {
          @include border-radius(100%);

          display: inline-block;
          width: 26px;
          height: 26px;
          border: 3px solid #583318;
          vertical-align: middle;
          position: relative;
          margin-right: 20px;

          @media screen and (max-width: 959px) {
            width:15px;
            height: 15px;
            margin-right: 5px;
          }
      }

      &__item:last-of-type {
          margin-bottom: 0;
      }

      &__item {
          @extend .font-regular;

          color: #583318;
          font-size: 18px;
          margin-bottom: 25px;

          strong {
              @extend .font-bold;

              color: #583318;
          }

          @media screen and (max-width: 959px) {
                font-size: 12px;
          }
      }
  }

}
